* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --primary-color: darkslateblue;
}

html {
  font-size: clamp(18px, 1.40vmax, 24px);
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
}
